<h1><b>Formulario</b></h1>
<form>
    <div>
        <label for="name">First name: </label>
        <input type="text" id="fname" name="fname"><br>
    </div>
    <div>
        <label for="lastname">Last name: </label>
        <input type="text" id="lname" name="lname"><br>
    </div>
    <div>
        <label for="mail">Email:        </label>
        <input type="text" id="mail" name="mail"><br>
    </div>
    <button type="submit">Continue</button>
  </form><br>
  <mat-slide-toggle>Toggle me!</mat-slide-toggle>